.gt-header {
  $self: &;

  background-color: #ffffff;
  height: $height-header - 5px;
  padding: 0 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  padding-left: $height-header + 5px;

  @include media-breakpoint-up(lg) {
    height: $height-header;
    padding: 0 25px;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
  }

  &__logo {
    font-size: 22px;
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    margin-top: -3px;
    color: $primary;
  }

  &__nav {
    @media (max-width: 575px) {
      flex-wrap: nowrap;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 8px;
    color: rgba($color-text-02, 0.75);

    + #{$self}__link {
      margin-left: 7px;
      @include media-breakpoint-up(sm) {
        margin-left: 10px;
      }
    }
  }
}
