.gt-sidebar {
  $self: &;

  width: $width-sidebar;
  height: 100%;
  transform: translateX(-100%);

//   @extend .shadow-sm;

  @include media-breakpoint-up(lg) {
    transform: translateX(0);
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    
    + .gt-content {
        margin-left: $width-sidebar;
    //   @include media-breakpoint-up(xl) {
    //     margin-left: 240px;
    //   }
    //   @include media-breakpoint-up(lg) {
    //     margin-left: $height-header;
    //   }
    }
  }

  &--minimize {
    width: auto;

    #{$self}__header {
      width: $height-header;
      padding: 0;
      justify-content: center;
    }

    #{$self}__logo {
      display: none;
    }

    #{$self}__body {
      width: $height-header;
      padding: 20px;
      @include transition(none);
    }

    + .gt-content {
      margin-left: $height-header;
    }
  }

  &__logo {
    font-size: 22px;
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    margin-top: -3px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height-header - 6px;
    padding: 0 18px;
    border-right: 1px solid $border-color;
    background-color: #fff;
    transform: translateX($height-header - 6px);

    @include media-breakpoint-up(lg) {
      padding: 0 20px;
      transform: none;
      height: $height-header - 1px;
    }
  }

  &__body {
    position: relative;
    padding: 25px;
    height: calc(100% - #{$height-header - 1px});
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: #fff;
  }

  &__toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    height: $height-footer;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: #fff;
    width: $width-sidebar;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    // font-size: .875rem;
    i {
      margin-right: 8px;
      &.fa-angle-double-right {
        display: none;
      }
    }

    #{ $self }--minimize & {
      width: $height-header;
      padding: 0px 22px;

      span {
        display: none;
      }

      i {
        &.fa-angle-double-left {
          display: none;
        }

        &.fa-angle-double-right {
          display: block;
        }
      }
    }
  }
}
