// Brand Colors
$color-brand-01: #33691e;
$color-brand-02: #042893;
$color-brand-03: #1ce1ac;

// Inverse Colors
$color-inverse-01: #003d00;
$color-inverse-02: #1b2e4b;

// Text Colors
$color-text-01: $color-inverse-01;
$color-text-02: $color-inverse-02;
$color-text-03: #8392a5;
$color-text-04: #c0ccda;

$color-primary-100: #C9FBEB;
$color-primary-200: #94F7E0;
$color-primary-300: #5DE9D3;
$color-primary-400: #35D4C9;
$color-primary-500: #00B5B8;
$color-primary-600: #008E9E;
$color-primary-700: #006B84;
$color-primary-800: #004D6A;
$color-primary-900: #003858;
$color-primary-transparent-100: rgba(0, 181, 184, 0.08);
$color-primary-transparent-200: rgba(0, 181, 184, 0.16);
$color-primary-transparent-300: rgba(0, 181, 184, 0.24);
$color-primary-transparent-400: rgba(0, 181, 184, 0.32);
$color-primary-transparent-500: rgba(0, 181, 184, 0.4);
$color-primary-transparent-600: rgba(0, 181, 184, 0.48);
$color-success-100: #E5FAD2;
$color-success-200: #C5F6A6;
$color-success-300: #98E675;
$color-success-400: #6DCD50;
$color-success-500: #36AD20;
$color-success-600: #219417;
$color-success-700: #107C10;
$color-success-800: #0A6411;
$color-success-900: #065311;
$color-success-transparent-100: rgba(54, 173, 32, 0.08);
$color-success-transparent-200: rgba(54, 173, 32, 0.16);
$color-success-transparent-300: rgba(54, 173, 32, 0.24);
$color-success-transparent-400: rgba(54, 173, 32, 0.32);
$color-success-transparent-500: rgba(54, 173, 32, 0.4);
$color-success-transparent-600: rgba(54, 173, 32, 0.48);
$color-info-100: #D8DEFE;
$color-info-200: #B1BDFE;
$color-info-300: #8B9BFD;
$color-info-400: #6D80FB;
$color-info-500: #3E54F9;
$color-info-600: #2D3FD6;
$color-info-700: #1F2DB3;
$color-info-800: #131D90;
$color-info-900: #0B1377;
$color-info-transparent-100: rgba(62, 84, 249, 0.08);
$color-info-transparent-200: rgba(62, 84, 249, 0.16);
$color-info-transparent-300: rgba(62, 84, 249, 0.24);
$color-info-transparent-400: rgba(62, 84, 249, 0.32);
$color-info-transparent-500: rgba(62, 84, 249, 0.4);
$color-info-transparent-600: rgba(62, 84, 249, 0.48);
$color-warning-100: #FFF5CD;
$color-warning-200: #FFE89B;
$color-warning-300: #FFD869;
$color-warning-400: #FFC943;
$color-warning-500: #FFAF05;
$color-warning-600: #DB8F03;
$color-warning-700: #B77102;
$color-warning-800: #935601;
$color-warning-900: #7A4300;
$color-warning-transparent-100: rgba(255, 175, 5, 0.08);
$color-warning-transparent-200: rgba(255, 175, 5, 0.16);
$color-warning-transparent-300: rgba(255, 175, 5, 0.24);
$color-warning-transparent-400: rgba(255, 175, 5, 0.32);
$color-warning-transparent-500: rgba(255, 175, 5, 0.4);
$color-warning-transparent-600: rgba(255, 175, 5, 0.48);
$color-danger-100: #FFE8D6;
$color-danger-200: #FFCCAE;
$color-danger-300: #FFA985;
$color-danger-400: #FF8767;
$color-danger-500: #FF5035;
$color-danger-600: #DB3026;
$color-danger-700: #B71A1E;
$color-danger-800: #93101E;
$color-danger-900: #7A0A1E;
$color-danger-transparent-100: rgba(255, 80, 53, 0.08);
$color-danger-transparent-200: rgba(255, 80, 53, 0.16);
$color-danger-transparent-300: rgba(255, 80, 53, 0.24);
$color-danger-transparent-400: rgba(255, 80, 53, 0.32);
$color-danger-transparent-500: rgba(255, 80, 53, 0.4);
$color-danger-transparent-600: rgba(255, 80, 53, 0.48);

$primary: $color-primary-500;

// Height
$height-header: 60px;
$height-footer: 48px;

// Width
$width-sidebar: 240px;

// Fonts
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
